$hover-inverse: #526477;
$hover: #F0F0F0;

body {
  color: #fff;
  margin: 0;
  background-color: #4A4090;
  // font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  font-family: "Open sans","lucida grande","Segoe UI",arial,verdana,tahoma,"Hiragino Kaku Gothic ProN","Osaka","Meiryo UI","Yu Gothic UI",sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 8px 0;
}

ul, li {
  list-style-type: none;
}

a, a:visited, a:hover, a:active, a:focus {
  color: inherit;
  text-decoration: none;
  border: none;
  box-shadow: none;
}

.el-header {
  padding: 0;
}

.el-button--text {
  font-weight: 300;
}

.el-table__row {
  cursor: pointer;
}

.nav > .el-col {
  overflow: hidden;
  padding: 10px 10px;
  cursor: pointer;
  text-align: center;
  // margin:auto;
}

.space {
  padding: 10px;
}

.card {
  margin: 0 5px;
}

.logo {
  font-size: 25px;
}

.white {
  color: #50596c;
  background: #fff;
}

input {
  font-size: inherit;
  vertical-align: -webkit-baseline-middle;
}

input.no-outline {
  outline: none;
  border: none;
}

.small-text {
  color: rgba(0,0,0,.56);
  font-size: 11px;
}

.task-list-group {
  width: 100%;
  display: block;
  padding: 5px 0;
}

.folder-tag {
  padding: 2px 5px;
  border: 1px solid;
  border-color: #e0e0e0;
}

ul.tree {
  padding-left: 1em;
  line-height: 1.5em;
}

.folder, .task {
  position: relative;
  left: 25px;
}

.fold-button {
  position: absolute;
}

.folder:hover, .fold-button.inverse:hover {
  background-color: $hover-inverse;
}

.tree-item {
  cursor: pointer;
}

.no-select-color::-moz-selection {
  background: none;
}
.no-select-color::selection {
  background: none;
}

.description-field {
  padding: 30px 30px;
  border-bottom: 1px solid;
  border-color: rgba(0,0,0,.16);
}

.task-statebar {
  padding: 5px 0;
  border-top: solid 1px;
  border-bottom: solid 1px;
  border-color: rgba(0,0,0,.16);
}

.comment-box {
  color: rgba(0,0,0,.56);
  padding: 12px;
  border-top: 1px solid;
  border-color: rgba(0,0,0,.16);
  position: relative;
  bottom: 0;
  left: 0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content.right {
  right: 0;
}

.dropdown-content.left {
  left: 0;
}

.dropdown-content div {
    color: black;
    padding: 5px 16px;
    text-decoration: none;
}

.dropdown-content div:hover {
  background-color: $hover;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.account {
  padding: 60px 60px 0;
}
