$hover: #F0F0F0;
$hover-inverse: #526477;

$classic-background: #4A4090;

$dark-background: #212121;
$dark-background2: #383737;
$dark-background3: #444444;
$dark-hover: #444444;
$dark-text: #aaa;
$dark-text2: #fff;

$blue: #409EFF;
$blue-hover: #66b1ff;
$black: #50596c;